logging~=0.4.9.6
transformers
transformers[sentencepiece]
datasets
sacrebleu
rouge_score
py7zr
pandas
nltk
tqdm
PyYAML
matplotlib
torch==2.5.1
pydantic>=2.6
sqlalchemy<3,>=1.4.0
notebook
boto3
mypy-boto3-s3
python-box==6.0.2
ensure==1.0.2
fastapi>=0.100
uvicorn==0.18.3
Jinja2==3.1.2
-e .